name: bookstore-microservices-infra
services:
  catalog-db:
    image: postgres:16-alpine
    container_name: catalog-db
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - "catalog_db_data:/var/lib/postgresql/data"
      - ./catalog-db-init:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          memory: 750m
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  catalog_db_data:


